.container {
    max-width: 70%;
    background-color: #24a19c;
    justify-content: center;
    text-align: center;
    padding: 2.5%;
}

#character-name {
    visibility: hidden;
    margin-bottom: -6%;
}

#attribute {
    padding-top: 10%;
    font-weight: 800;
    font-size: 30px;
}